<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../../node_modules/bootstrap-icons/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="./style.css" />
    <title>Editor Markdown</title>
  </head>
  <body>
    <header>
      <section class="top-bar">
        <div class="left-section">
            <div class="logo"></div>
            <nav class="comandos">
              <button type="button" id="new" title="New File"><i class="bi bi-file-earmark-plus"></i></button>
              <button type="button" id="open" title="Open File"><i class="bi bi-folder2-open"></i></button>
              <button type="button" id="save" title="Save"><i class="bi bi-floppy"></i></button>
              <button type="button" id="save-as" title="Save As"><i class="bi bi-floppy2-fill"></i></button>
              <button type="button" id="close-file" title="Close File"><i class="bi bi-x-square"></i></button>
            </nav>
        </div>
        
        <div class="center-section">
            <div class="titulo" draggable="true">
                <h3 id="titulo">Archivo sin nombre</h3>
            </div>
        </div>

        <div class="right-section">
            <div class="btn-close">
                <button id="min"><i class="bi bi-dash-lg"></i></button>
                <button id="max"><i class="bi bi-square"></i></button>
                <button id="unmax" style="display: none"><i class="bi bi-back"></i></button>
                <button id="close"><i class="bi bi-x-lg"></i></button>
            </div>
        </div>
      </section>
    </header>
    <main>
      <section class="principal">
        <section class="editor">
          <textarea name="editor" id="editor"></textarea>
        </section>
        <section class="preview">
          <div id="preview"></div>
        </section>
      </section>
    </main>

    <script src="./script.js"></script>
  </body>
</html>
