<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../../node_modules/bootstrap-icons/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="./style.css" />
    <title>Editor Markdown</title>
  </head>
  <body>
    <header>
      <section class="menu">
        <section class="close">
          <div class="logo"></div>
          <div class="titulo">
            <h3 id="titulo">Archivo sin nombre</h3>
          </div>
          <div class="btn-close">
            <button id="min"><i class="bi bi-window-desktop"></i></button>
            <button id="max"><i class="bi bi-window-fullscreen"></i></button>
            <button id="unmax" style="display: none">
              <i class="bi bi-window-stack"></i>
            </button>
            <button id="close"><i class="bi bi-x-lg"></i></button>
          </div>
        </section>
        <nav class="comandos">
          <button type="button" id="new">
            <i class="bi bi-filetype-md"></i>
          </button>
          <button type="button" id="open">
            <i class="bi bi-folder2-open"></i>
          </button>
          <button type="button" id="save"><i class="bi bi-floppy"></i></button>
          <button type="button" id="save-as">
            <i class="bi bi-floppy2-fill"></i>
          </button>
        </nav>
      </section>
    </header>
    <main>
      <section class="principal">
        <section class="editor">
          <textarea name="editor" id="editor"></textarea>
        </section>
        <section class="preview">
          <div id="preview"></div>
        </section>
      </section>
    </main>

    <script src="./script.js"></script>
  </body>
</html>
